@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
main {
  width: 100%;
  padding: 50px 0;
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  /* border: 2px solid brown; */
  /* padding: 30px; */
  background-color: hsl(0, 0%, 98%);
}
h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
}
.section-image,
.mockup-image,
.huddle-icon,
.footer-image,
.contact-icon,
.location-icon {
  display: block;
  height: auto;
  width: 100%;
}
.button-container {
  /* border: 2px solid plum; */
  width: 10%;
}
.hero-button {
  padding: 6px;
  font-size: 8px;
  font-weight: 700;
  color: hsl(192, 100%, 15%);
  border: none;
  border-radius: 18px;
  background-color: white;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.hero-button:hover {
  color: hsl(208, 11%, 58%);
  cursor: pointer;
}
.hero-section {
  /* width: 100%; */
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-image: url(./images/bg-hero-desktop.svg);
  background-repeat: no-repeat;
  /* border-radius: 15px; */
  background-position: center;
  background-size: contain;
  background-color: hsl(193, 100%, 97%);
}
.hero-cta {
  display: flex;
  gap: 190px;
  /* border: 2px solid red; */
}
.hero-description {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.start-button {
  padding: 20px;
  border-radius: 18px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background-color: hsl(322, 100%, 68%);
}
.start-button:hover {
  background-color: hsl(322, 100%, 79%);
  cursor: pointer;
}
#logoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 100%; */
  /* border: 2px solid black; */
}
#growthContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid red; */
  border-radius: 15px;
  background-color: white;
}
.brief-summary {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#conversationContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  background-color: white;
}
.brief-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#userContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  background-color: white;
}
.brief-insight {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.community-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* border: 3px solid black; */
  position: relative;
}
.cta-container {
  max-width: 1280px;
  position: absolute;
  bottom: -50px;
  /* left: 150px;
  right: 150px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 30px;
  color: hsl(192, 100%, 13%);
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 25px;
}
.cta-container > button {
  width: 50%;
  border-radius: 18px;
  border: none;
  padding: 9px;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background-color: hsl(322, 100%, 68%);
}
.cta-container > button:hover {
  background-color: hsl(322, 100%, 79%);
  cursor: pointer;
}
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: hsl(208, 31%, 78%);
  background-color: hsl(192, 100%, 9%);
}
#footerContainer {
  display: flex;
}
footer ul {
  list-style-type: none;
  width: 20ch;
}
.faq-container,
.reference-container {
  margin-top: 110px;
  line-height: 2.5;
}
.faq-container a,
.reference-container a {
  text-decoration: none;
  color: hsl(208, 31%, 78%);
}
.faq-container a:hover {
  text-decoration: underline;
}
.reference-container a:hover {
  text-decoration: underline;
}
.contact-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.location-container {
  display: flex;
  gap: 15px;
}
.socials-container {
  display: flex;
  flex-direction: column;
  gap: 70px;
  margin-top: 120px;
}
.socials-links {
  display: flex;
  gap: 10px;
}
.socials-container p {
  padding-right: 20px;
}
.attribution {
  font-size: 11px;
  text-align: center;
  margin-bottom: 20px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media (min-width: 1024px) {
  main {
    width: 100%;
  }
  .hero-section {
    width: 100%;
    padding: 20px;
  }
  #logoContainer {
    margin-bottom: 15px;
  }
  .huddle-icon {
    height: 30px;
    width: 200px;
  }
  .section-image {
    height: auto;
    width: 400px;
  }

  .hero-button {
    width: 20%;
    font-size: 10px;
  }
  .hero-description {
    margin-top: 40px;
    /* border: 2px solid blue; */
  }
  .hero-description h1 {
    width: 20ch;
    font-size: 35px;
    font-weight: 600;
  }
  .hero-description h1 + p {
    width: 50ch;
    font-size: 15px;
    font-weight: 500;
    color: hsl(192, 100%, 16%);
  }
  .start-button {
    width: 60%;
    font-size: 12px;
    font-weight: 600;
    color: hsl(0, 0%, 100%);
    border: none;
    padding: 10px;
  }
  .mockup-container {
    /* border: 2px solid goldenrod; */
    width: 50%;
  }
  .mockup-image {
    height: auto;
    width: 500px;
  }
  .contact-icon {
    height: 14px;
    width: 18px;
  }
  #growthContainer {
    padding: 20px;
    gap: 65px;
  }
  .brief-summary {
    margin: 10px 0 0 50px;
    gap: 5px;
  }
  .brief-summary h1 {
    font-size: 30px;
    font-weight: 600;
    color: hsl(192, 100%, 13%);
  }
  .brief-summary h1 + p {
    width: 50ch;
    font-size: 15px;
    color: hsl(193, 8%, 58%);
    font-weight: 400;
  }
  #conversationContainer {
    padding: 20px;
    gap: 65px;
  }
  .image-container {
    margin: 10px 0 10px 50px;
  }
  .brief-info {
    margin-top: 70px;
    gap: 5px;
  }
  .brief-info h1 {
    font-size: 30px;
    font-weight: 600;
    color: hsl(192, 100%, 13%);
  }
  .brief-info h1 + p {
    width: 50ch;
    font-size: 15px;
    color: hsl(193, 8%, 58%);
    font-weight: 400;
  }
  #userContainer {
    padding: 30px;
    gap: 65px;
    margin-bottom: 120px;
  }
  .brief-insight {
    margin: 70px 0 0 50px;
    gap: 5px;
  }
  .brief-insight h1 {
    font-size: 30px;
    font-weight: 600;
    color: hsl(192, 100%, 13%);
  }
  .brief-insight h1 + p {
    width: 48ch;
    font-size: 15px;
    color: hsl(193, 8%, 58%);
    font-weight: 400;
  }
  .cta-container {
    bottom: -100px;
  }
  .cta-container > button {
    width: 70%;
  }
  footer {
    justify-content: center;
    align-items: center;
    font-size: 15px;
    gap: 10px;
  }
  .footer-image {
    height: 25px;
    width: 200px;
    filter: invert(99%) sepia(0%) saturate(2%) hue-rotate(183deg)
      brightness(113%) contrast(100%);
  }
  .location-icon {
    height: 15px;
    width: 11px;
  }
  .office-address {
    width: 38ch;
  }
  .contact-container {
    margin: 70px 30px 40px 79.5px;
  }
  .facebook,
  .twitter,
  .instagram {
    font-size: 15px;
    color: white;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    padding: 5px;
    border: 1px solid white;
  }
  .facebook:hover {
    color: hsl(322, 100%, 66%);
    border: 1px solid hsl(322, 100%, 75%);
  }
  .twitter:hover {
    color: hsl(322, 100%, 66%);
    border: 1px solid hsl(322, 100%, 75%);
  }
  .instagram:hover {
    color: hsl(322, 100%, 66%);
    border: 1px solid hsl(322, 100%, 75%);
  }
}
@media (min-width: 767px) and (max-width: 1024px) {
  main {
    width: 100%;
  }
  .hero-section {
    width: 100%;
    padding: 15px;
  }
  #logoContainer {
    margin-bottom: 10px;
  }
  .huddle-icon {
    height: 20px;
    width: 150px;
  }
  .section-image {
    height: 250px;
    width: 300px;
  }
  .hero-button {
    width: 20%;
    font-size: 10px;
    font-weight: 500;
  }
  .hero-description {
    margin-top: 40px;
    /* border: 2px solid blue; */
  }
  .hero-description h1 {
    width: 20ch;
    font-size: 20px;
  }
  .hero-description h1 + p {
    width: 50ch;
    font-size: 8px;
    font-weight: 500;
    color: hsl(192, 100%, 16%);
  }
  .start-button {
    width: 50%;
    font-size: 8px;
    font-weight: 600;
    color: hsl(0, 0%, 100%);
    border: none;
    padding: 8px;
  }
  .mockup-container {
    /* border: 2px solid goldenrod; */
    width: 50%;
  }
  .mockup-image {
    height: auto;
    width: 250px;
  }
  .contact-icon {
    height: 10px;
    width: 15px;
  }
  #growthContainer {
    padding: 15px;
    gap: 60px;
  }
  .brief-summary {
    margin: 10px 0 0 50px;
    gap: 5px;
  }
  .brief-summary h1 {
    font-size: 20px;
    font-weight: 600;
    color: hsl(192, 100%, 13%);
  }
  .brief-summary h1 + p {
    width: 50ch;
    font-size: 8px;
    color: hsl(193, 8%, 58%);
    font-weight: 400;
  }
  #conversationContainer {
    padding: 15px;
    gap: 60px;
  }
  .image-container {
    margin: 10px 0 10px 50px;
  }
  .brief-info {
    margin-top: 70px;
    gap: 5px;
  }
  .brief-info h1 {
    font-size: 20px;
    font-weight: 600;
    color: hsl(192, 100%, 13%);
  }
  .brief-info h1 + p {
    width: 50ch;
    font-size: 8px;
    color: hsl(193, 8%, 58%);
    font-weight: 400;
  }
  #userContainer {
    padding: 25px;
    gap: 60px;
    margin-bottom: 100px;
  }
  .brief-insight {
    margin: 70px 0 0 50px;
    gap: 5px;
  }
  .brief-insight h1 {
    font-size: 20px;
    font-weight: 600;
    color: hsl(192, 100%, 13%);
  }
  .brief-insight h1 + p {
    width: 48ch;
    font-size: 8px;
    color: hsl(193, 8%, 58%);
    font-weight: 400;
  }
  .cta-container {
    gap: 10px;
    padding: 25px;
    font-style: normal;
    font-size: 20px;
    bottom: -95px;
  }
  .cta-container > button {
    width: 60%;
    border-radius: 18px;
    padding: 8px;
    font-size: 12px;
  }
  footer {
    justify-content: center;
    align-items: center;
    font-size: 10px;
    gap: 10px;
  }
  .footer-image {
    height: 25px;
    width: 150px;
    filter: invert(99%) sepia(0%) saturate(2%) hue-rotate(183deg)
      brightness(113%) contrast(100%);
  }
  .location-icon {
    height: 12px;
    width: 10px;
  }
  .office-address {
    width: 38ch;
  }
  .contact-container {
    margin: 70px 30px 40px 79.5px;
  }
  .facebook,
  .twitter,
  .instagram {
    font-size: 15px;
    color: white;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    padding: 5px;
    border: 1px solid white;
  }
  .facebook:hover {
    color: hsl(322, 100%, 66%);
    border: 1px solid hsl(322, 100%, 75%);
  }
  .twitter:hover {
    color: hsl(322, 100%, 66%);
    border: 1px solid hsl(322, 100%, 75%);
  }
  .instagram:hover {
    color: hsl(322, 100%, 66%);
    border: 1px solid hsl(322, 100%, 75%);
  }
}
@media (max-width: 767px) {
  body {
    flex-direction: column;
  }
  main {
    width: 100%;
    padding: 10px;
    flex-direction: column;
    gap: 20px;
    background-color: hsl(0, 0%, 98%);
  }
  footer {
    flex-direction: column;
  }
  .hero-section {
    width: 100%;
    background-image: url(./images/bg-hero-mobile.svg);
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: top;
    border-radius: 0;
    padding: 30px;
  }
  #logoContainer {
    width: 100%;
    gap: 100px;
    margin-bottom: 70px;
  }
  .huddle-icon {
    height: 22px;
    width: 120px;
  }

  .hero-button {
    width: 30%;
    font-size: 10px;
    font-weight: 600;
  }
  .hero-cta {
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 50px;
  }
  .hero-description {
    justify-content: center;
    align-items: center;
  }
  .hero-description h1 {
    width: 20ch;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    color: hsl(192, 100%, 13%);
  }
  .hero-description h1 + p {
    width: 34ch;
    font-size: 15px;
    line-height: 1.5;
    text-align: center;
  }
  .start-button {
    padding: 9px;
    width: 60%;
    font-size: 12px;
    color: white;
    border: none;
  }
  .mockup-image {
    height: auto;
    width: 300px;
  }
  #growthContainer {
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
    background-color: hsl(0, 0%, 100%);
  }
  #growthContainer img {
    order: 1;
    height: 170px;
    width: 300px;
  }
  .brief-summary {
    order: 2;
  }
  .brief-summary h1 {
    font-size: 25px;
    font-weight: 600;
  }
  .brief-summary h1 + p {
    font-size: 15px;
    font-weight: 400;
    color: hsl(193, 8%, 58%);
    font-weight: 400;
    line-height: 1.5;
    width: 34ch;
  }
  #conversationContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
    gap: 50px;
    background-color: hsl(0, 0%, 100%);
  }
  #conversationContainer img {
    width: 300px;
    height: 170px;
  }
  .brief-info h1 {
    font-size: 25px;
    font-weight: 600;
  }
  .brief-info h1 + p {
    font-size: 15px;
    line-height: 1.5;
    color: hsl(193, 8%, 58%);
    font-weight: 400;
    width: 32ch;
  }
  #userContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
    gap: 50px;
    background-color: hsl(0, 0%, 100%);
    margin-bottom: 120px;
  }
  #userContainer img {
    order: 1;
    height: 170px;
    width: 300px;
  }
  .brief-insight {
    order: 2;
  }
  .brief-insight h1 {
    font-size: 25px;
    font-weight: 600;
  }
  .brief-insight h1 + p {
    font-size: 15px;
    color: hsl(193, 8%, 58%);
    font-weight: 400;
    line-height: 1.5;
    width: 31ch;
  }
  .cta-container {
    bottom: -60px;
    padding: 40px;
  }
  .cta-container p {
    width: 28ch;
    font-size: 15px;
  }
  .cta-container button {
    width: 70%;
    padding: 8px;
    font-size: 10px;
  }
  footer {
    padding: 40px 20px 20px 20px;
    font-size: 15px;
    gap: 0;
  }
  #footerContainer {
    flex-direction: column;
  }
  .footer-image {
    height: 25px;
    width: 150px;
    filter: invert(99%) sepia(0%) saturate(2%) hue-rotate(183deg)
      brightness(113%) contrast(100%);
  }
  .location-icon {
    height: 15px;
    width: 10px;
  }
  .contact-container {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .contact-icon {
    height: 15px;
    width: 15px;
  }
  .office-address {
    width: 33ch;
  }
  .faq-container,
  .reference-container {
    margin-top: 0;
    line-height: 2.5;
  }
  .socials-container {
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    margin: 50px 0 20px 0;
  }
  .facebook,
  .twitter,
  .instagram {
    font-size: 15px;
    height: 22px;
    width: 22px;
    color: white;
    border-radius: 50%;
    padding: 5px;
    border: 1px solid white;
  }
}
